name: pull image from k8s.gcr.io then push to aliyun ACR

on:
  push:
    branches:
      - 'main'

jobs:
  bulid:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # 登录方式一：docker官方的login-action
      - name: Docker login
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.ACR_SERVER }}
          username: ${{ secrets.ACR_USER }}
          password: ${{ secrets.ACR_PASSW }}
      
      # 登录方式二：aliyun官方的acr-login
      # - name: Login to ACR
      #   uses: aliyun/acr-login@v1
      #   with: 
      #     login-server: ${{ secrets.ACR_SERVER }}
      #     # region-id: us-west-1
      #     username: ${{ secrets.ACR_USER }}
      #     password: ${{ secrets.ACR_PASSW }}

      - name: RUN sh
        uses: .
        run: ./image.sh
        shell: bash